.circles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 70px;
}

.title {
    text-align: center;
    font-size: 32px;
    margin-bottom: -10px;
    font-weight: 600;
    font-family: 'Poppins';
    
    color: rgb(59, 59, 59);
}

.images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 0;
    margin-top: 0;
    justify-items: center;
}

.images img {
    max-width: 100%;
    height: auto;
}

#image2 {
    margin-top: 50px;

}

#image5 {
    margin-top: 50px;
}

#image8 {
    margin-top: 50px;
}

.subtitle {
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 18px;
    color: rgb(59, 59, 59);
    font-weight: 400;
    font-style: italic;
    text-align: center;
    margin: 0;
    margin-bottom: -20px;
}
.top-banner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f1f1f1;
    font-size: 14px;
}

.top-banner-left {
    margin-left: 10px;
}   

.top-banner-right {
    margin-right: 10px;
    padding: 10px;
    gap: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
}

.logo p {
    margin: 0;
    font-size: 12px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.user-options a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}


.aho {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f1f1f1;
    gap: 40px;
    font-size: 14px;
}
.Banner img {
    width: 100%;
}   