/* Sujal CSS started */

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.circles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin-top: 60px;
}

.circle-item {
    text-align: center;
}

.circle-text {
    font-family: 'Poppins';
    font-size: 14px; 
    color: rgb(59, 59, 59);
    margin-top: 5px; 
}

.title {
    text-align: center;
    font-size: 32px;
    margin-bottom: -10px;
    font-weight: 600;
    font-family: 'Poppins';
    color: rgb(59, 59, 59);
}

.images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 0;
    margin-top: 0;
    justify-items: center;
}

.images img {
    max-width: 100%;
    height: auto;
}

#image2 {
    margin-top: 50px;

}

#image5 {
    margin-top: 50px;
}

#image8 {
    margin-top: 50px;
}

.subtitle {
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 18px;
    color: rgb(59, 59, 59);
    font-weight: 400;
    font-style: italic;
    text-align: center;
    margin: 0;
    margin-bottom: -20px;
}

.image-container {
    position: relative;
    width: 100%;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.image-text1 {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 26px;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-weight: 400;
}

.image-text2 {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 26px;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-weight: 400;

}

/* Gourish CSS started */


.flat {
    text-align: left;
    font-size: 11px;
    color: rgb(112, 112, 112);
    font-family: 'Poppins';
    
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.right-links {
    display: flex;
    gap: 15px;
}

.inr {
    font-size: 13px;
    text-decoration: none;
    color: rgb(85, 85, 85);
    font-family: 'Poppins';
    font-weight: 400;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: white;
    border-bottom: 1px solid #ccc;
}

.shortkurta {
    font-size: 11px;
    font-family: 'Poppins';
    font-weight: 400;
    display: flex;
    color: rgb(57, 57, 57);
    margin-right: 200px;

}

.logo {
    margin-top: -10px;
    margin-left: 30px;
}

.logo p {
    font-size: 12px;
    color: rgb(57, 57, 57);
    font-family: 'Poppins';
    font-weight: 400;
    margin-left: 20px;
    margin-top: 5px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links li a {
    text-decoration: none;
    letter-spacing: 1px;
}

.right-icons a {
    text-decoration: none;
    margin-left: 15px;
    color: rgb(112, 112, 112);
    font-size: 10px;
    display: inline-block;
    font-family: 'Poppins';
}

.footer-icons {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    color: #333;
    font-size: 12px;
}

.footer-icons p {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 15px;
    align-items: center;
    gap: 10px;
    
}

/* Rohit CSS started */

.brand_name {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(0, 0, 0); 
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    margin: 0rem 0rem 0.75;
}
    

.brand_description {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(142, 142, 142); 
    font-size: 14px;
    line-height: 28px;
    margin: 5vh 11.111vw;
}

.qualities {
    display: flex;
    justify-content:center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(85, 85, 85);
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    margin: 3vh 11.111vw;
    text-align: center;
}

.qualities img {
    height: 8.4vh;
}

.quality1{
    padding-right: 30px;
    padding-left: 30px;
    border-right: 1px solid #ccc;
    display: flex;
    align-items: center;
    height: 63px;
}

.qualities div :last-child{
    border: none;
} 

.awarded {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 6vh; 
}

.awards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    margin: 0 2vw;
    width: 250px;
}


.awards img {
    height: 5.6vh;
}


.award {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(59, 59, 59);
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 0;
    text-align: center;
}

.awardd{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(142, 142, 142); 
    font-size: 14px;
    line-height: 21px;
}

.payment_details {
    display: flex;
    justify-content: space-between;
    margin: 6vh 4vw;
    
}

.payment1{
    display: flex;
}

.payment1 img {
    margin-right: 10px;
}


.h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 0;
}

.extraLinks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    padding: 40px 0;
}

.prepaid p {
    line-height: 22px;
    margin-top:0%;
}


.c {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
}

.popular_searches a {
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    color: rgb(85,85,85);
    font-size: 13px;
    line-height: 20px;

}

.h3p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    color: rgb(59, 59, 59);
    font-size: 22px;
    line-height: 33px;
}

.h4p{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: rgb(59, 59, 59);
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 15px;
}

.extraLinks a,p {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: rgb(97, 97, 97);
    font-size: 12px;
}

.extraLinks div {
    line-height: 1.75;
}

.footerLinks {
    margin: 3vh 3vw;
}

.lal{
    margin-right: 15px;
    width: 175px;
}

.social{
    display: flex;
    list-style: none;
    justify-content: flex-start;
    padding: 0%;
}

li{
    margin: 0 1vw;
}

.line {
    color: maroon;
    margin: .3rem;
    width: 100%;
}


/* Rahul CSS started */

.rahul {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.space {
    width: 24%;
    height: auto;
}

.image-section {
    text-align: center;
    margin-top: 60px;
}

.image-heading {
    font-size: 26px;
    font-family: 'Poppins';
    margin-bottom: 15px;
    font-weight: 400;
    color: rgb(59, 59, 59);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.hat {
    margin-top: 50px;
    margin-bottom: 60px;
}

.rahul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.rahul-container {
    position: relative;
    width: calc(25% - 20px);
    margin: 10px;
    box-sizing: border-box;
}

.rahul-container img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.rahul-text {
    position: absolute;
    bottom: 75px; 
    text-align: left;
    left: 10px;
    color: white;
    font-size: 21px; 
    padding: 10px; 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    width: 70%;
    white-space: nowrap;
    
}

.text-simple {
    position: absolute;
    bottom: 65px; 
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 34px; 
    padding: 10px; 
    box-sizing: border-box;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    width: 100%;
    white-space: nowrap;
    z-index: 10;
}

.twin-collection {
    position: relative;
    width: 100%;
}

.underline {
    font-family: 'Poppins';
    font-weight: 400;
    text-decoration: underline;
    font-size: 12px;
    position: absolute;
    bottom: 35px; 
    left: 20%;
    transform: translateX(-50%);
    color: white;
    padding: 10px; 
    box-sizing: border-box;
    width: 100%;
    white-space: nowrap;
    z-index: 10;

}

.oldunderline {
    font-family: 'Poppins';
    font-weight: 400;
    text-decoration: underline;
    font-size: 12px;
    position: absolute;
    bottom: 35px; 
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    color: white;
    padding: 10px; 
    box-sizing: border-box;
    width: 100%;
    white-space: nowrap;
    z-index: 10;
}

.lastimage{
    width: 100%;
    overflow: hidden;
}


.lastimage img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 40px;
    margin-bottom: 60px;
}


