.circles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 70px;
}

.title {
    text-align: center;
    font-size: 32px;
    margin-bottom: -10px;
    font-weight: 600;
    font-family: 'Poppins';
    
    color: rgb(59, 59, 59);
}

.images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 0;
    margin-top: 0;
    justify-items: center;
}

.images img {
    max-width: 100%;
    height: auto;
}

#image2 {
    margin-top: 50px;

}

#image5 {
    margin-top: 50px;
}

#image8 {
    margin-top: 50px;
}

.subtitle {
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 18px;
    color: rgb(59, 59, 59);
    font-weight: 400;
    font-style: italic;
    text-align: center;
    margin: 0;
}





/* footer */

.brand_name {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(0, 0, 0); 
    font-size: 50px;
    line-height: 60px;
    }
    

.brand_description {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(142, 142, 142); 
    font-size: 14px;
    line-height: 28px;
    margin: 5vh 11.111vw;
}

.qualities {
    display: flex;
    justify-content:center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(85, 85, 85);
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    margin: 3vh 11.111vw;
    text-align: center;
}

.qualities img {
    height: 8.4vh;
}

.quality1{
    padding-right: 30px;
    padding-left: 30px;
    border-right: 1px solid #ccc;
    display: flex;
    align-items: center;
    height: 63px;
}

.qualities div :last-child{
    border: none;
} 

.awarded {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.awards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    margin: 0 2vw;
    width: 250px;
}


.awards img {
    height: 5.6vh;
}


.award {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(59, 59, 59);
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 0;
}

.awardd{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(142, 142, 142); 
    font-size: 14px;
    line-height: 21px;
}

.payment_details {
    display: flex;
    justify-content: space-between;
    margin: 0vh 3vw;
    
}

.payment1{
    display: flex;
}

.payment1 img {
    margin-right: 10px;
}


.h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 0;
}

.extraLinks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    padding: 40px 0;
}

.prepaid p {
    line-height: 22px;
    margin-top:0%;
}


.c {
    display: flex;
    margin-top: 30px;
    align-items: flex-start;
}

.popular_searches a {
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    color: rgb(85,85,85);
    font-size: 13px;
    line-height: 20px;

}

.h3p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    color: rgb(59, 59, 59);
    font-size: 22px;
    line-height: 33px;
}

.h4p{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: rgb(59, 59, 59);
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 15px;
}

.extraLinks a,p {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: rgb(97, 97, 97);
    font-size: 12px;
<<<<<<< HEAD
}

.extraLinks div {
    line-height: 1.75;
}

.footerLinks {
    margin: 3vh 3vw;
}

.lal{
    margin-right: 15px;
    width: 175px;
}

=======
    line-height: 18px;
}
>>>>>>> 20abf48e63b52d9cb9de6d4ba9df2e05524c7446
